.app-container {
    margin: 20px;
  }
  
  .timestamp {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .data-labels {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .label {
    margin-right: 30px;
  }
  
  .charts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  